# UCF file for Mojo-V3 board

TIMESPEC TS_CLOCK_50 = PERIOD CLOCK_50 50 MHz HIGH 50 %;

# 50 MHz oszillator
NET "clk_50" TNM_NET = CLOCK_50;
NET "clk_50" LOC = P56;

# reset button
NET "nres" LOC = P38;
NET "nres" CLOCK_DEDICATED_ROUTE = "FALSE";

# onboard LEDs
NET "led<0>" LOC = P134 | IOSTANDARD = LVTTL;
NET "led<1>" LOC = P133 | IOSTANDARD = LVTTL;
NET "led<2>" LOC = P132 | IOSTANDARD = LVTTL;
NET "led<3>" LOC = P131 | IOSTANDARD = LVTTL;
NET "led<4>" LOC = P127 | IOSTANDARD = LVTTL;
NET "led<5>" LOC = P126 | IOSTANDARD = LVTTL;
NET "led<6>" LOC = P124 | IOSTANDARD = LVTTL;
NET "led<7>" LOC = P123 | IOSTANDARD = LVTTL;

# gpios
NET "gpio<0>" LOC = P57 | IOSTANDARD = LVTTL;
NET "gpio<1>" LOC = P58 | IOSTANDARD = LVTTL;
NET "gpio<2>" LOC = P66 | IOSTANDARD = LVTTL;
NET "gpio<3>" LOC = P67 | IOSTANDARD = LVTTL;
NET "gpio<4>" LOC = P74 | IOSTANDARD = LVTTL;
NET "gpio<5>" LOC = P75 | IOSTANDARD = LVTTL;
NET "gpio<6>" LOC = P78 | IOSTANDARD = LVTTL;
NET "gpio<7>" LOC = P79 | IOSTANDARD = LVTTL;
NET "gpio<8>" LOC = P80 | IOSTANDARD = LVTTL;
NET "gpio<9>" LOC = P81 | IOSTANDARD = LVTTL;
NET "gpio<10>" LOC = P82 | IOSTANDARD = LVTTL;
NET "gpio<11>" LOC = P83 | IOSTANDARD = LVTTL;
NET "gpio<12>" LOC = P84 | IOSTANDARD = LVTTL;
NET "gpio<13>" LOC = P85 | IOSTANDARD = LVTTL;
NET "gpio<14>" LOC = P87 | IOSTANDARD = LVTTL;
NET "gpio<15>" LOC = P88 | IOSTANDARD = LVTTL;

NET "gpio<16>" LOC = P92 | IOSTANDARD = LVTTL;
NET "gpio<17>" LOC = P93 | IOSTANDARD = LVTTL;
NET "gpio<18>" LOC = P94 | IOSTANDARD = LVTTL;
NET "gpio<19>" LOC = P95 | IOSTANDARD = LVTTL;
NET "gpio<20>" LOC = P97 | IOSTANDARD = LVTTL;
NET "gpio<21>" LOC = P98 | IOSTANDARD = LVTTL;
NET "gpio<22>" LOC = P99 | IOSTANDARD = LVTTL;
NET "gpio<23>" LOC = P100 | IOSTANDARD = LVTTL;
NET "gpio<24>" LOC = P50 | IOSTANDARD = LVTTL;
NET "gpio<25>" LOC = P51 | IOSTANDARD = LVTTL;
NET "gpio<26>" LOC = P40 | IOSTANDARD = LVTTL;
NET "gpio<27>" LOC = P41 | IOSTANDARD = LVTTL;
NET "gpio<28>" LOC = P34 | IOSTANDARD = LVTTL;
NET "gpio<29>" LOC = P35 | IOSTANDARD = LVTTL;
NET "gpio<30>" LOC = P32 | IOSTANDARD = LVTTL;
NET "gpio<31>" LOC = P33 | IOSTANDARD = LVTTL;

NET "trap" LOC = P29 | IOSTANDARD = LVTTL;
